@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* medidas rem 16px = 1.6rem */
}

body {
  width: 100%;
  height: 100%;
  font-family: $font-source;
  background-color: $dark-color !important;
}

a {
  text-decoration: none;
}

#root {
  width: $mobile-width;
  height: $mobile-height;
  background-color: $primary-color;
  margin: auto;
  position: relative;
  .hidden-modal {
    display: block;
  }
}


